@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 3.3rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.1rem; }

html {
  background-color: #f0f0f0;
  color: #3c3c3c; }

a,
a:visited {
  color: #3cb371;
  text-decoration: none;
  font-weight: bold; }
  a:hover, a:active,
  a:visited:hover,
  a:visited:active {
    text-decoration: underline; }

.content-main {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 250px;
  padding: 0 1rem; }

.intro {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  max-width: 500px; }
  @media (min-width: 992px) {
    .intro {
      max-width: 100%;
      -webkit-flex-direction: row;
              flex-direction: row; } }

.bio {
  font-size: 1.5rem; }
  @media (min-width: 992px) {
    .bio {
      font-size: 2rem; } }

.links {
  font-size: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center; }
  .links .icon {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem; }

.intro-left {
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 260px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  font-size: 2.5rem; }
  .intro-left .name {
    margin-left: 0.5rem;
    font-weight: 700; }
    @media (min-width: 992px) {
      .intro-left .name {
        font-size: 3.5rem; } }
  @media (min-width: 992px) {
    .intro-left {
      display: block;
      text-align: right;
      border-bottom: 0;
      border-right: 2px solid black;
      padding-right: 1rem;
      margin-right: 1rem;
      padding-bottom: 0rem;
      margin-bottom: 0rem; } }

.intro-right {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  max-width: 720px; }

.content-logo {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center; }
  .content-logo .logo-container {
    width: 150px;
    height: 150px; }
    @media (min-width: 992px) {
      .content-logo .logo-container {
        width: 200px;
        height: 200px; } }

